Datatypes
--
>int - Plain integer

>float - Floating point number

>complex - Complex no, Real and Imaginary part

>boolean - True and False

>sequence - string, list, tuple

>mapping - Dictionary

>set - unordered collection of distinct objects

>file - used to make file system objects

Typecasting
--

In [1]:
# your code goes here10
float(12)

12.0

In [2]:
int(3.1416)

3

In [3]:
# your code goes here11
int('2020')

2020

In [4]:
# your code goes here13
int('Manoj')

ValueError: invalid literal for int() with base 10: 'Manoj'

In [5]:
# String/int to float
float(1.99)

1.99

In [6]:
float(4)

4.0

In [7]:
float('2020.123')

2020.123

# int, float, list, tuple, dictionary to string
Note: [] is for list
() is for tuple
str(3.122)

In [8]:
# your code goes here1.4
str([1,2,3,4])

'[1, 2, 3, 4]'

In [9]:
str((1,2,3,4))

'(1, 2, 3, 4)'

In [10]:
# your code goes here1.5
list('Manoj')

['M', 'a', 'n', 'o', 'j']

In [11]:
# your code goes here16
tuple('Manoj')

('M', 'a', 'n', 'o', 'j')

In [12]:
# your code goes here1.7
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [13]:
# your code goes here1.7
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [14]:
int('12')

12

In [15]:
a = float('12.34')
print(a)
b = int(a)
print(b)

12.34
12

In [16]:
int(float('12.34'))

12

Operators
--

>Arithmetic: + - * / %
>// Floor Division
>** exponentiation

>Relational: < <= > >= != ==

>Logical: and or not

>Bitwise: & | ^ ~ << >>

>Membership: in, not in

>Identity: is,is not

In [17]:
# your code goes here19
2<=1

False

In [18]:
4>=4

True

In [19]:
# your code goes here2+0
5==51

False

In [20]:
a=5 # Assignment statement
print(a==57) #Checking the logical equality

False

In [21]:
7!=7

False

In [22]:
s = True
t = False
print(s and t)
print(s or t)
print(not(s)) # not is a Unary operator
print(not(t))

False
True
False
True

In [23]:
s = 2
t = 4
print( s&t )
print( s|t )
print( s^t )

0
6
6

In [24]:
# your code goes here2+4
a=2
print(a<<1)
print(a>>1)

4
1

In [27]:
# your code goes here2+5
l = [1,2,3,4,5,"MANOJ", 23.54, 2+34j]
print(1 in l)
print(1 not in l)
print(2+34j in l)

True
False
True

In [28]:
b is not a

True

In [29]:
2<<4

32

In [30]:
a = 4
b = 4
print(a is b)
print(hex(id(a)))
print(hex(id(b)))
b = b+6
print(a is b)
print(hex(id(a)))
print(hex(id(b)))

True
0x7ffaa729a1f0
0x7ffaa729a1f0
False
0x7ffaa729a1f0
0x7ffaa729a2b0

In [31]:
a = [1,2,3]
b = [1,2,3]
a is b

False

Looping Statements:
    --

In [32]:
n = ["Manoj",12,-3,1+4j,5]
for i in n:
    print(i)

Manoj
12
-3
(1+4j)
5

In [33]:
n = ["Manoj",12,-3,1+4j,5]
for i in n:
    print(i,end=" ")

Manoj 12 -3 (1+4j) 5

In [34]:
str = "Manoj"
for i in str:
    print(i)

M
a
n
o
j

range function:
--

>range(5): It goes from 0 to 4 to generate a sequence of numbers

>range(start, stop, stepsize): Default stepsize is 1

In [35]:
for i in range(5):
    print(i)

0
1
2
3
4

In [36]:
for i in range(2,15):
    print(i,end=" ")

2 3 4 5 6 7 8 9 10 11 12 13 14

In [37]:
for i in range(2,30,3):
    print(i,end=" ")

2 5 8 11 14 17 20 23 26 29

In [38]:
# Perform sum of numbers
sum1=0
for i in range(1,11):
    sum1 = sum1 + i
print("Sum = ",sum1)

Sum =  55

In [39]:
for i in range(5,0,-1):
    print(i,end=" ")

5 4 3 2 1

In [40]:
l=[1,2,3,4,5]
sum(l)

15

In [41]:
# your code goes here33+
i = 1
while i<=5:
    print(i)
    i = i+1
print("End of while")

1
2
3
4
5
End of while

# Infinite loop, dont execute this
i = 1
while i<=5:
    print(i)
#     i = i+1
print("End of while")

In [42]:
# your code goes here33+
i = 5
while i>=1:
    print(i,end="\t")
    i = i-0.5
print("\nEnd of while")

5	4.5	4.0	3.5	3.0	2.5	2.0	1.5	1.0
End of while

In [43]:
s = "Machine Learning"
len(s)

16

In [44]:
s = "Machine Learning"
i = 0
while i<len(s):
    print(s[i],end=" ")
    i=i+1

M a c h i n e   L e a r n i n g

Conditional execution
--

In [45]:
x=5
if x>0:
    print(x)
    print("Hi  Students")
print("Out of if statement")

5
Hi  Students
Out of if statement

In [46]:
x=50
if x%2==0:
    print(x," is an even number")
else:
    print(x," is an odd number.")

50  is an even number

In [47]:
x = 55
if x>35:
    print(x," is greater than 35")
elif x<35:
    print(x," is lesser than 35")
else:
    print(x," is equal than 35")

55  is greater than 35

In [48]:
# your code goes here39+
x = 35
if x>35:
    print(x," is greater than 35")
else:
    if x<35:
        print(x," is lesser than 35")
    else:
        print(x," is equal than 35")

35  is equal than 35

In [49]:
x = 35
if x<=35:
    if x==35:
        print(x," is equal than 35")
    else:
        print(x," is lesser than 35")
else:
    print(x," is greater than 35")

35  is equal than 35

If there is an else clause, it has to be at the end, but there doesnt have to be one.

In [50]:
l = [1,2,3,4,5,6,7]
for i in l:
    if i%2==0:
        print(i," is Even")
    else:
        print(i," is Odd")

1  is Odd
2  is Even
3  is Odd
4  is Even
5  is Odd
6  is Even
7  is Odd

In [51]:
l = [1,2,3,4,5,6,7]
for i in l:
    if i==4:
        break
    else:
        print(i)

1
2
3

In [52]:
l = [1,2,3,4,5,6,7]
for i in l:
    if i==4:
        continue
    else:
        print(i)

1
2
3
5
6
7

In [53]:
l = [1,2,3,4,5,6,7]
i = 0
while i<len(l):
    if l[i]==4:
        break
    else:
        print(l[i])
        i = i+1

1
2
3

In [54]:
l = [1,2,3,4,5,6,7]
i = 0
while i<len(l):
    if l[i]==4:
        i = i+1
        continue
    else:
        print(l[i])
        i = i+1

1
2
3
5
6
7